.description {
    margin: 100px 0;
    padding: 50px 0;
    background-color: var(--color-blue);
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 150px;

        @media screen and (max-width: $breakpoint-nav) {
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
        }

        .description_name {
            margin: 0;
            font-size: var(--font-size-h3);
            max-width: 565px;

            p {
                color: var(--color-white);
                span {
                    color: var(--color-green);
                }

                @media screen and (max-width: $breakpoint-nav) {
                    text-align: center;
                }
            }
        }

        .description_content {
            margin: 0;
            p {
                font-size: var(--font-size-content);
                max-width: 600px;
                color: var(--color-white);
            }
        }
    }
}
