.formulaire {
    .green_line {
        width: 100%;
        border: 2px solid var(--color-green);
    }

    h2 {
        font-weight: 500;
    }

    p {
        font-weight: 300;
        max-width: 600px;
        margin: 30px 0 30px 0;
    }

    .bold {
        font-weight: 600;
        margin: 45px 0;
    }

    .form_body {
        .is-sent & {
            display: none;
        }
    }
}

.form {
    .input {
        width: 100%;
    }
    .duo {
        display: flex;
        justify-content: center;
        gap: 15px;

        @media screen and (max-width: $breakpoint-lgg) {
            flex-direction: column;
            gap: var(--spacing-md);
        }
    }

    fieldset {
        border: none; //Enlever bordure
        padding: 0;
    }
    .grid-form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }
}

.button {
    margin: 15px 0 50px 0;
    cursor: pointer;
    padding: 15px 65px;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    border: 2px solid var(--color-grey);
    color: var(--color-grey);
    transform: scale(1);
    transition: all 0.9s $ease-out-expo;
    transform: translateY(0) scale(1);
    background-color: var(--color-bg-white);
    text-transform: uppercase;
    font-size: var(--font-size-p);

    &:hover {
        color: var(--color-white);
        background-color: var(--color-green);
        border-color: var(--color-green);
        transform: scale(1.1);
    }
}

.form_body {
    .is-sent & {
        display: none;
    }
}

.form_confirmation {
    display: none;

    .is-sent & {
        display: block;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media screen and (max-width: $breakpoint-nav) {
            margin-top: 50px;
        }
    }
}

.input_label {
    display: block; // Mets le texte au dessus de la boite
    font-weight: 600;
    font-size: 22px;
    color: var(--color-grey);
}

.input_element {
    transition: all 0.8s $ease-out-expo;
    color: var(--color-grey);
    padding: 1.2em;
    background: none;
    border-radius: 10px;
    border: 1px solid var(--color-grey);
    cursor: pointer;
    font-family: inherit;
    outline: none;
    width: 100%;
    transition: all 0.8s $ease-out-expo;
    transform: scale(1);

    //hover
    &:hover {
        -webkit-box-shadow: inset 0 0 0 30px none !important; // L'espece de carrées plus sombres en hover à l'interieur du bleu
        border-radius: 5px;
        box-shadow: 0px 1px 15px rgba(91, 137, 31, 1);
    }

    &::placeholder {
        color: rgba(
            $color: var(--color-grey),
            $alpha: 0.7
        ); // Couleur du texte dans le placeholder
    }

    &:-webkit-autofill,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px var(--color-white) inset !important;
        -webkit-text-fill-color: var(--color-grey) !important;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--color-grey);
        opacity: 0;
        transition: all 0.8s $ease-out-expo;
    }

    &:focus {
        background-color: var(--color-white);
        -webkit-box-shadow: inset 0 0 0 30px none !important;
    }
}

/*
textarea
========================================================================== */

.textarea {
    .input_element {
        resize: vertical;
        height: 130px;
        color: var(--color-grey);
    }
}

/*
error
========================================================================== */

.input,
.form_list {
    p {
        display: none;
    }
    &.error {
        p {
            font-size: var(--font-size-p2);
            display: block;
            color: var(--color-red);
            margin: 0;
        }
    }
}
.error {
    .input_element,
    &.check .input_label::before,
    &.radio .input_label::before,
    .check .input_label::before,
    .radio .input_label::before {
        box-shadow: inset 0 0 0 3px var(--color-red);
        border: 1px solid rgba(1, 1, 1, 0);
    }

    .input_label {
        color: var(--color-red);
    }
}
