.question {
    margin-bottom: 60px;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }

        .arrow {
            background-color: var(--color-green);
            border-radius: 100%;
            padding: 10px;

            .icon {
                color: var(--color-white);
            }
        }

        h3 {
            font-weight: 400;
        }
        a {
            font-size: var(--font-size-h3);
            padding: 0 10px;
            display: inline-block;
            text-decoration: none;
            font-weight: 700;
            color: var(--color-green);
            transform: scale(1);
            transition: all 0.6s $ease-out-expo;
            stroke: 1px solid var(--color-green);

            &:hover {
                transform: scale(1.15);
            }
        }
    }
}
