/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    color: var(--color-grey);
    font-family: var(--font-primary);
    font-size: var(--font-size-content);
    line-height: 1.6;
    background-color: var(--color-bg-white);
    overflow-x: hidden;

    .titre_section {
        margin-bottom: 40px;

        @media screen and (max-width: $breakpoint-nav) {
            margin-bottom: 30px;
        }
        h1 {
            font-weight: 500;
            margin-bottom: 10px;
        }

        .green_line {
            width: var(--width-green-line);
            border: 2px solid var(--color-green);
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
