/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-wrapper;
    width: calc(100% - var(--spacing-lg));
    margin: 0 auto;
}
