{% include "_partials/_header.html" with {title: 'Politique de confientialité'} %}

<section class="confidentialite">
    <div class="wrapper">
        <div class="titre_section">
            <h1>Politique de confidentialité</h1>
            <div class="green_line"></div>
        </div>
        <div class="cards">
            <div>
                <h4 class="mise_a_jour">Dernière mise à jour : 2023-10-05</h4>
                <p>
                    La protection de vos données personnelles est une priorité pour nous. Cette Politique de Confidentialité décrit comment Notaires Dufour
                    Dupéré (ci-après « nous », « notre », ou « notaire ») recueille, utilise et protège vos informations personnelles lorsque vous visitez notre
                    site web www.notairesdufourdupere.com (ci-après le « Site »).
                </p>
                <p>
                    Veuillez lire attentivement cette Politique de Confidentialité afin de comprendre comment nous collectons, utilisons, protégeons et
                    partageons vos informations personnelles.
                </p>
            </div>

            <div class="informations">
                <h4>1. Informations que nous collectons</h4>
                <p>Lorsque vous visitez notre Site, nous pouvons collecter les informations suivantes :</p>
                <ul>
                    <li>
                        Informations personnelles que vous nous fournissez volontairement, telles que votre nom, adresse e-mail, numéro de téléphone, et toute
                        autre information que vous choisissez de nous transmettre via les formulaires de contact.
                    </li>
                    <li>
                        Informations collectées automatiquement, telles que votre adresse IP, le type de navigateur que vous utilisez, le système d’exploitation
                        de votre ordinateur, les pages que vous visitez sur notre Site, la date et l’heure de votre visite, et d’autres informations de suivi
                        similaires.
                    </li>
                </ul>
            </div>

            <div class="utilisation">
                <h4>2. Utilisation de vos informations</h4>
                <p>Nous utilisons les informations que nous collectons pour les finalités suivantes :</p>
                <ul>
                    <li>Fournir et personnaliser nos services notariaux conformément à vos demandes.</li>
                    <li>Répondre à vos questions, demandes d’informations ou demandes de rendez-vous.</li>
                    <li>Améliorer et maintenir la qualité de notre Site et de nos services.</li>
                    <li>Communiquer avec vous concernant nos services, promotions, actualités et mises à jour.</li>
                </ul>
            </div>

            <div class="partage">
                <h4>3. Partage d’informations</h4>
                <p>
                    Nous ne vendons, n’échangeons ni ne louons vos informations personnelles à des tiers sans votre consentement exprès, sauf si la loi l’exige.
                    Nous pouvons partager vos informations personnelles avec des prestataires de services tiers qui nous aident à gérer notre Site ou à vous
                    fournir des services notariaux, mais ces tiers sont tenus de protéger vos informations de manière confidentielle.
                </p>
            </div>

            <div class="securite">
                <h4>4. Sécurité des données</h4>
                <p>
                    Nous prenons des mesures raisonnables pour protéger vos informations personnelles contre la perte, l’accès non autorisé, la divulgation,
                    l’altération ou la destruction. Cependant, aucune méthode de transmission sur Internet ni de stockage électronique n’est totalement
                    sécurisée, et nous ne pouvons garantir la sécurité absolue de vos données.
                </p>
            </div>

            <div class="choix">
                <h4>5. Vos choix</h4>
                <p>
                    Vous avez le droit de demander l’accès à vos informations personnelles que nous détenons, de les corriger, de les mettre à jour ou de les
                    supprimer. Vous pouvez également choisir de ne pas recevoir nos communications marketing en suivant les instructions de désinscription
                    incluses dans ces communications.
                </p>
            </div>

            <div class="modifications">
                <h4>6. Modifications de cette Politique de Confidentialité</h4>
                <p>
                    Nous nous réservons le droit de mettre à jour cette Politique de Confidentialité de temps à autre pour refléter les changements dans nos
                    pratiques de collecte et d’utilisation des données. Les modifications seront effectives dès leur publication sur cette page.
                </p>
            </div>

            <div class="contactez">
                <h4>7. Contactez-nous</h4>
                <p>
                    Si vous avez des questions ou des préoccupations concernant cette Politique de Confidentialité, veuillez nous contacter à l’adresse suivante
                    : info@notairesdufourdupere.com. En utilisant notre Site, vous consentez à notre Politique de Confidentialité et acceptez nos pratiques en
                    matière de collecte et d’utilisation des informations personnelles.
                </p>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
