{% include "_partials/_header.html" with {title: 'Notre équipe'} %}

<section class="equipe">
    <div class="wrapper">
        <div class="titre_section">
            <h1>Notre équipe</h1>
            <div class="green_line"></div>
        </div>

        <div class="cards">
            <div class="card">
                <a href="equipe.html">
                    <img src="assets/images/julie.jpg" alt="Photo de Julie" />
                    <h4>Julie Dufour-Dupéré</h4>
                    <p>Faites la rencontre de notre directrice et notaire principal de l’entreprise!</p>
                </a>
            </div>

            <div class="card">
                <a href="equipe.html">
                    <img src="assets/images/jade.jpg" alt="Photo de Jade" />
                    <h4>Jade Daigneault</h4>
                    <p>Faites la connaissance d’une notaire fraichement diplômé, dynamique et sympathique.</p>
                </a>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
