{% include "_partials/_header.html" with {title: 'equipe'} %}

<section class="equipe">
    <div class="wrapper">
        <div class="titre_section">
            <h1>Julie Dufour-Dupéré</h1>
        </div>
        <div class="presentation">
            <p>
                Lorem ipsum dolor sit amet consectetur. Nibh non nec egestas et mauris lobortis interdum. Scelerisque auctor dis tristique at varius mollis
                dolor blandit. Integer donec volutpat in ornare amet porttitor leo. Purus etiam laoreet aenean proin sapien integer. Felis vitae mattis
                convallis auctor sed venenatis volutpat. Odio tellus et vestibulum pretium maecenas diam amet eu lobortis. Vitae at nisl enim quisque convallis.
                In lectus diam posuere convallis suspendisse lacus feugiat. At tempor quam pretium aenean neque blandit integer. Tristique lobortis cras
                senectus id. In ac feugiat et consequat tellus libero at elit leo. Eget nec ut vitae pretium nisl eu ornare ac. Tempor ornare fermentum nunc
                orci tellus cursus sem. Nec suscipit non pharetra facilisis dignissim a adipiscing eu. Cursus magna dui mattis congue turpis odio duis tellus.
                Proin nec donec porta dapibus eget non. Sit quisque sit amet augue gravida lacus sed purus velit. Sodales non porta quis mi duis. Faucibus
                aliquet cursus pellentesque euismod. Feugiat scelerisque sapien nullam facilisis cras fringilla. Quam sed at metus cum elementum at. Lobortis
                sed ut diam elementum blandit diam. Consectetur in sit venenatis urna ornare faucibus pulvinar. Nibh consectetur pulvinar faucibus nisi diam
                volutpat mi.
            </p>
            <img src="assets/images/julie.jpg" alt="" />
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
