{% include "_partials/_header.html" with {title: 'Notre équipe'} %}

<section class="equipe">
    <div class="wrapper">
        <div class="titre_section" data-scrolly="fromLeft">
            <h1>Notre équipe</h1>
            <div class="green_line"></div>
        </div>

        <div class="cards">
            <div class="card" data-scrolly="fromLeft">
                <a href="equipe.html">
                    <img src="assets/images/julie.jpg" alt="Photo de Julie" />
                    <h4>Julie Dufour-Dupéré</h4>
                    <p>Faites la rencontre de notre directrice et notaire principal de l’entreprise!</p>
                </a>
            </div>

            <div class="card" data-scrolly="fromTop">
                <a href="equipe.html">
                    <img src="assets/images/jade.jpg" alt="Photo de Jade" />
                    <h4>Jade Daigneault</h4>
                    <p>Faites la connaissance d’une notaire fraichement diplômé, dynamique et sympathique.</p>
                </a>
            </div>

            <div class="card" data-scrolly="fromRight">
                <a href="equipe.html">
                    <img src="assets/images/mathieu.jpg" alt="Photo de Mathieu" />
                    <h4>Mathieu Gay</h4>
                    <p>Notre membre le plus actif dans l'entreprise en ce moment!</p>
                </a>
            </div>

            <div class="card" data-scrolly="fromBottom">
                <a href="equipe.html">
                    <img src="assets/images/jordan.jpg" alt="Photo de Jordan" />
                    <h4>Jordan Gagnon</h4>
                    <p>Stagiaire, depuis deux semaines, dans l'entreprise.</p>
                </a>
            </div>

            <div class="card" data-scrolly="fromLeft">
                <a href="equipe.html">
                    <img src="assets/images/martine.jpg" alt="Photo de Martine" />
                    <h4>Martine Couillard</h4>
                    <p>Secrétaire accueillante de notre bureau. En vacance jusqu'a l'autonme 2027</p>
                </a>
            </div>

            <div class="card" data-scrolly="fromTop">
                <a href="equipe.html">
                    <img src="assets/images/Alexanne.jpg" alt="Photo de Alexanne" />
                    <h4>Alexanne Plante</h4>
                    <p>Présentement à l'université, elle reviendra sous peu!</p>
                </a>
            </div>

            <div class="card" data-scrolly="fromRight">
                <a href="equipe.html">
                    <img src="assets/images/maude.jpg" alt="Photo de Maude" />
                    <h4>Maude Siméon</h4>
                    <p>Secrétaire accueillante de notre bureau.</p>
                </a>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
