{% include "_partials/_header.html" with {title: 'equipe'} %}

<section class="equipe">
    <div class="wrapper">
        <div class="titre_section" data-scrolly="fromLeft">
            <h1>Julie Dufour-Dupéré</h1>
        </div>
        <div class="presentation">
            <p data-scrolly="fromLeft">
                La notaire Julie Dufour-Dupéré et présidente de l'entreprise est l'employé la plus ancienne. Après avoir finis ces études univiersitaires, elle
                a créée sa propre entreprise avec une collègue qui à abandonner le navire en cours de route. Travaillante et perséverante, elle continue, à ce
                jour, de conclure des dossiers pour ses clints afin de garantir la sécurité et clarté de leur choix. Elle a plus de 15 ans d'expérience dans le
                domaine et prêt à tous pour vous donner le meilleur service que vous méritez. Si c'est votre notaire pour votre dossier, vous êtes entre de très
                bonne main! .
            </p>
            <img data-scrolly="fromRight" src="assets/images/julie.jpg" alt="" />
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
