{% include "_partials/_header.html" with {title: 'Accueil'} %}

<section class="hero">
    <div class="wrapper">
        <img src="assets/images/hero.jpg" alt="image d'acceuil de la page" />

        <div class="hero_content">
            <h1>Nous vous accompagnons dans les étapes les plus importantes de votre vie...</h1>
            <a class="bouton" href="">Savoir plus</a>
        </div>
    </div>
</section>

<section class="description">
    <div class="wrapper">
        <div class="description_name">
            <p>
                <span class="green">Dufour Dupéré & associés,</span>
                notaires et conseillers juridiques
            </p>
        </div>
        <div class="description_content">
            <p>
                Une équipe présente pour vous guider dans les différentes étapes de votre vie. Dans les moments les plus heureux comme les plus difficiles,
                notre équipe de notaires est là pour vous soutenir et vous aider dans tous les aspects. Nous mettrons notre expertise à votre service afin de
                faciliter vos décisions et vous aider à vous protéger.
            </p>
        </div>
    </div>
</section>

<section class="slogan">
    <div class="wrapper">
        <h2>Faire les bons choix, une nécessité pour protéger vos droits!</h2>
        <div class="slogan_box">
            <img src="assets/images/slogan_logo.png" alt="" />
            <div class="slogan_content">
                <div class="slogan_content_box">
                    <svg class="icon">
                        <use xlink:href="#icon-crochet"></use>
                    </svg>
                    <p>Une approche honnête et professionnelle</p>
                </div>

                <div class="slogan_content_box">
                    <svg class="icon">
                        <use xlink:href="#icon-crochet"></use>
                    </svg>
                    <p>Un savoir-faire hors pair</p>
                </div>

                <div class="slogan_content_box">
                    <svg class="icon">
                        <use xlink:href="#icon-crochet"></use>
                    </svg>
                    <p>Un service personnalisé adapté à vos besoins</p>
                </div>

                <p>
                    Pour un choix éclairé composé le
                    <span>(450) 906-3313</span>
                </p>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
