{% include "_partials/_header.html" with {title: 'Accueil'} %}

<section class="hero">
    <div class="wrapper">
        <img src="assets/images/hero.jpg" alt="image d'acceuil de la page" />

        <div class="hero_content">
            <h1>Nous vous accompagnons dans les étapes les plus importantes de votre vie...</h1>
            <a class="bouton" href="">Savoir plus</a>
        </div>
    </div>
</section>

<section class="description">
    <div class="wrapper">
        <div class="description_name">
            <p>
                <span class="green">Dufour Dupéré & associés,</span>
                notaires et conseillers juridiques
            </p>
        </div>
        <div class="description_content">
            <p>
                Une équipe présente pour vous guider dans les différentes étapes de votre vie. Dans les moments les plus heureux comme les plus difficiles,
                notre équipe de notaires est là pour vous soutenir et vous aider dans tous les aspects. Nous mettrons notre expertise à votre service afin de
                faciliter vos décisions et vous aider à vous protéger.
            </p>
        </div>
    </div>
</section>

<section class="slogan">
    <div class="wrapper">
        <h2>Faire les bons choix, une nécessité pour protéger vos droits!</h2>
        <div class="slogan_box">
            <img src="assets/images/slogan_logo.png" alt="" />
            <div class="slogan_content">
                <div class="slogan_content_box">
                    <svg class="icon">
                        <use xlink:href="#icon-crochet"></use>
                    </svg>
                    <p>Une approche honnête et professionnelle</p>
                </div>

                <div class="slogan_content_box">
                    <svg class="icon">
                        <use xlink:href="#icon-crochet"></use>
                    </svg>
                    <p>Un savoir-faire hors pair</p>
                </div>

                <div class="slogan_content_box">
                    <svg class="icon">
                        <use xlink:href="#icon-crochet"></use>
                    </svg>
                    <p>Un service personnalisé adapté à vos besoins</p>
                </div>

                <p>
                    Pour un choix éclairé composé le
                    <span>(450) 906-3313</span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="solution">
    <div class="wrapper">
        <h1>
            Nous faisons partie de la
            <span>solution,</span>
        </h1>
        <h1>
            Quels que soient vos
            <span>besoins!</span>
        </h1>
    </div>
</section>

<section class="service">
    <div class="wrapper">
        <div class="cards">
            <div class="card">
                <div class="card_content">
                    <h2>Protégez votre famille.</h2>
                    <p>
                        Le notaire est le juriste de l’entente. Nous travaillons sur le terrain de la bonne entente plutôt que sur celui des conflits.
                        Nous participons à des moments importants dans la vie des gens. Nos conseils sont orientés vers les besoins des couples et des familles
                        modernes ; monoparentales, recomposées ou non. Au cours de votre vie, vous êtes appelé à prendre des décisions importantes.
                    </p>
                    <div class="cards_content_sujet">
                        <div class="card_content_sujet">
                            <svg class="icon">
                                <use xlink:href="#icon-coeur"></use>
                            </svg>
                            <p>Mariage et contrats</p>
                        </div>

                        <div class="card_content_sujet">
                            <svg class="icon">
                                <use xlink:href="#icon-note"></use>
                            </svg>
                            <p>Succession et testament</p>
                        </div>
                    </div>
                </div>
                <div class="card_media">
                    <img src="assets/images/famille.jpg" alt="" />
                </div>
            </div>

            <div class="card">
                <div class="card_content">
                    <h2>Immobilier et financement.</h2>
                    <p>Lorsqu’on parle de droits immobiliers, nous sommes une référence grâce à notre expertise dans le domaine.</p>
                    <p>
                        Que ce soit pour le financement, la vente ou l’achat d’immeubles et bien d’autres encore ; nous vous offrons un service de qualité pour
                        vous guider.
                    </p>
                    <div class="cards_content_sujet">
                        <div class="card_content_sujet">
                            <svg class="icon">
                                <use xlink:href="#icon-argent"></use>
                            </svg>
                            <p>financement</p>
                        </div>

                        <div class="card_content_sujet">
                            <svg class="icon">
                                <use xlink:href="#icon-maison"></use>
                            </svg>
                            <p>Vente et achat</p>
                        </div>
                    </div>
                </div>
                <div class="card_media">
                    <img src="assets/images/immobilier.jpg" alt="" />
                </div>
            </div>

            <div class="card">
                <div class="card_content">
                    <h2>Consolidez votre entreprise.</h2>
                    <p>
                        Vous voulez vous lancer en affaires ou consolider votre entreprise ? Nous sommes là pour vous guider lors de la création de votre
                        société ou lors de son organisation.
                    </p>
                    <p>
                        Des services professionnels qui vous aideront à mieux gérer tous les aspects que la création ou la modification des statuts d’entreprise
                        requiert.
                    </p>
                    <div class="cards_content_sujet">
                        <div class="card_content_sujet">
                            <svg class="icon">
                                <use xlink:href="#icon-valise"></use>
                            </svg>
                            <p>Création</p>
                        </div>

                        <div class="card_content_sujet">
                            <svg class="icon">
                                <use xlink:href="#icon-engrenage"></use>
                            </svg>
                            <p>Organisation</p>
                        </div>
                    </div>
                </div>
                <div class="card_media">
                    <img src="assets/images/entreprise.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="bouton_flex"><a class="bouton" href="">Voir tous nos services</a></div>
    </div>
</section>

<section class="question">
    <div class="wrapper">
        <div>
            <h3>Vous avez une question?</h3>
            <a href="">Écrivez-nous !</a>
        </div>
        <div class="arrow">
            <a class="up" href="#Haut">
                <svg class="icon">
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </a>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
