{% include "_partials/_header.html" with {title: 'À propos'} %}

<section class="propos">
    <div class="wrapper">
        <div class="card_content" data-scrolly="fromLeft">
            <div class="titre_section">
                <h1>À propos</h1>
                <div class="green_line"></div>
            </div>
            <p>
                En tant qu’officier public, le notaire a le devoir d’agir dans l’intérêt de toutes les personnes à l’acte qu’il reçoit en évitant tout parti
                pris.
            </p>
            <p>Il s’assure qu’elles ont bien compris les explications et qu’elles s’entendent sur chaque clause du document.</p>
            <p>Ainsi, les parties sont assurées de pouvoir exprimer un consentement en toute connaissance de cause.</p>
        </div>
        <svg class="icon" data-scrolly="fromRight">
            <use xlink:href="#icon-fleurgrande"></use>
        </svg>
    </div>
</section>

<section class="historique">
    <div class="wrapper">
        <div class="titre_section" data-scrolly="fromLeft">
            <h1>Historique</h1>
            <div class="green_line"></div>
        </div>
        <div class="cards">
            <div class="card" data-scrolly="fromLeft">
                <h1>2011</h1>
                <p>
                    Me Julie Dufour-Dupéré, en partenariat avec sa consoeur Me Maryse Legault-Arsenault, se lance en affaires et le bureau ouvre ses portes en
                    mars.
                </p>
            </div>

            <div class="card" data-scrolly="fromBottom">
                <h1>2014</h1>
                <p>2014 marque un tournant. Me Legault-Arsenault se retire et cède son greffe* à Me Dufour-Dupéré.</p>
                <p><span class="green">*Minutes 1 à 1548</span></p>
            </div>

            <div class="card" data-scrolly="fromRight">
                <h1>2023</h1>
                <p>
                    Les notaires Dufour Dupéré & associés font l’acquisition de CSR Notaire (Boucherville). L’étude située au 151, boulevard de Mortagne
                    emménage dans nos locaux au 1590, rue Ampère à Boucherville. Suite à l’acquisition, Me Dufour-Dupéré devient cessionnaire des greffes de:
                    <span class="bold">
                        Me Alain Perreault, Me Claudia Jacques, Me André Lassonde, Me Andrée-Anne Lassonde (en partie) et Me Jessica Guilbault.
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="comments">
    <div class="wrapper">
        <div class="titre_section" data-scrolly="fromLeft">
            <h1>
                Faites partie de nos
                <span class="green">sourires</span>
            </h1>
            <div class="green_line"></div>
        </div>
        <div class="cards">
            <div class="card" data-scrolly="fromBottom">
                <h3>Martine simon</h3>
                <div class="container">
                    <p>
                        J’adore le professionnalisme et la passion de Me Dufour-Dupéré pour le droit! Son éthique et son intégrité sont non seulement
                        impressionnantes, mais à la hauteur de mes attentes.
                    </p>
                    <p>De plus, j’apprécie son côté humain et la relation d’affaires que nous avons depuis notre première rencontre.</p>
                    <p>Bref, elle est devenue ma notaire pour la vie et je suis fière de la référer à chaque fois que l’occasion se présente. Merci encore!</p>
                </div>
            </div>

            <div class="card" data-scrolly="fromRight">
                <h3>François Lamothe</h3>
                <div class="container">
                    <p>
                        Elle ne laisse rien au hasard; elle a mis en lumière des points ambigus relatifs à ma maison et elle s’est arrangée pour que tout soit
                        réglé avant la conclusion de la transaction.
                    </p>

                    <p>
                        Grâce à son professionnalisme, elle m’a sûrement évité bien des problèmes pour le futur lorsque je la revendrai, car je sais que tout
                        est dans les normes maintenant. 
                    </p>
                    <p>
                        Je prévois acheter une plus grosse maison dans les prochains mois, et c’est sûr que je vais faire affaire de nouveau avec Julie, car
                        c’est quelqu’un avec qui c’est agréable de faire affaire, en qui on peut avoir confiance!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
