{% include "_partials/_header.html" with {title: 'Accueil'} %}

<section class="hero">
    <div class="wrapper">
        <img src="assets/images/service.jpg" alt="image service de la page" />

        <div class="hero_content">
            <div class="titre_section">
                <h1>Nos services</h1>
                <div class="green_line"></div>
            </div>
            <h4>
                Vous êtes un couple, une famille monoparentale, recomposée ou non ?Vous avez besoin de services fiables et professionnels tout en restant
                accessibles ?
            </h4>
            <h4>Nous sommes là pour vous épauler !</h4>
        </div>
    </div>
</section>

<section class="particulier" data-component="Tabs">
    <div class="wrapper">
        <div class="titre_section">
            <h1>Nos services</h1>
            <div class="green_line"></div>
        </div>

        <ul>
            <li class="js-tab union">
                <div>
                    <svg class="icon">
                        <use xlink:href="#icon-union"></use>
                    </svg>
                    <p>Union</p>
                </div>
            </li>
            <li class="js-tab testament">
                <div>
                    <svg class="icon">
                        <use xlink:href="#icon-testament"></use>
                    </svg>
                    <p>Testament</p>
                </div>
            </li>
            <li class="js-tab mandat">
                <div>
                    <svg class="icon">
                        <use xlink:href="#icon-mandat"></use>
                    </svg>
                    <p>Mandat de protection</p>
                </div>
            </li>
            <li>
                <div>
                    <svg class="icon">
                        <use xlink:href="#icon-reglement"></use>
                    </svg>
                    <p>Règlement de succession</p>
                </div>
            </li>
            <li>
                <div>
                    <svg class="icon">
                        <use xlink:href="#icon-immobilier"></use>
                    </svg>
                    <p>Immobilier</p>
                </div>
            </li>
        </ul>

        <div class="tab-container">
            <div class="union">
                <div class="grid-union">
                    <div>
                        <h3>Union</h3>
                        <p>La célébration d’un mariage est soumise au respect de nombreuses règles qui ont toutes pour objectif d’en assurer la légalité.</p>
                        <p>
                            Nous sommes présents pour vous accompagner dans cette étape importante de votre vie. Nous vous aiderons à connaître les conséquences
                            juridiques de cet engagement et répondrons à toutes vos questions pour nous assurer du bon déroulement du processus.
                        </p>
                    </div>

                    <div>
                        <h3>Contrat</h3>
                        <p>
                            Vous avez aussi la possibilité de vous doter d’un contrat de mariage. Nous pouvons vous aider à choisir le régime matrimonial
                            qui vous convient. Ce régime établit les règles de l’administration des biens des époux pendant le mariage et à sa fin, par exemple
                            en cas de divorce ou de décès.
                        </p>
                        <p>
                            Il est donc primordial de vous informer sur les différentes options afin de prévenir toute situation déplaisante, si elle se
                            présente.
                        </p>
                    </div>

                    <div>
                        <h3>Union de fait</h3>
                        <p>
                            Les conjoints de fait peuvent conclure une entente, un document notarié établissant les règles régissant leur union et ce qu’il
                            adviendra en cas de rupture. Pourquoi ne pas le faire maintenant alors que règne la bonne entente ?
                        </p>
                        <p>Consultez-nous afin d’avoir toutes les informations pertinentes pour ne rien laisser au hasard.</p>
                    </div>
                </div>
            </div>

            <div class="testament">
                <h3>Pourquoi faire un testament?</h3>
                <p>
                    Le testament est la meilleure façon de vous faire entendre malgré votre absence. Ce document vous permet d’exprimer dès maintenant vos
                    volontés concernant la distribution de vos biens après votre décès. Vous pouvez y désigner la ou les personnes à qui ces biens seront légués
                    et la part de chacun dans votre héritage. Également, vous pouvez choisir la personne qui sera en charge de procéder à la liquidation; le
                    liquidateur.
                </p>
                <p>
                    Rédiger un testament n’est pas une obligation, mais il est toujours préférable de le faire car dans le cas contraire c’est la loi qui
                    déterminera à la fois vos héritiers et la part à laquelle ils ont droit.
                </p>
            </div>

            <div class="mandat">
                <p>
                    Qu’arrivera t-il si vous n’arrivez plus à gérer vos biens, si vous n’êtes plus en sécurité dans votre appartement ? Qui paiera vos factures
                    ? Qui prendra soin de vous ? Votre conjoint, vos enfants, le Curateur public du Québec ? Certes, l’inaptitude n’est pas une éventualité à
                    laquelle il est agréable de songer. Toutefois, y penser dès maintenant peut vous éviter bien des soucis, à vous et à vos proches, si jamais
                    elle survient.
                </p>
                <p>
                    Le mandat de protection vous permet de désigner, à l’avance, une ou plusieurs personnes pour veiller à votre bien-être et pour administrer
                    vos biens dans le cas où vous deveniez incapable de le faire vous-même. La personne à qui vous confiez la tâche de veiller à votre bien-être
                    et d’administrer vos biens dans votre mandat s’appelle un « mandataire ».
                </p>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
