{% include "_partials/_header.html" with {title: 'Accueil'} %}

<section class="hero" data-scrolly="fromTop">
    <div class="wrapper">
        <img src="assets/images/service.jpg" alt="image service de la page" />

        <div class="hero_content">
            <div class="titre_section">
                <h1>Nos services</h1>
                <div class="green_line"></div>
            </div>
            <h4>
                Vous êtes un couple, une famille monoparentale, recomposée ou non ?Vous avez besoin de services fiables et professionnels tout en restant
                accessibles ?
            </h4>
            <h4>Nous sommes là pour vous épauler !</h4>
        </div>
    </div>
</section>

<section class="particulier" data-component="Tabs" data-scrolly="fromBottom">
    <div class="wrapper">
        <div class="titre_section" data-scrolly="fromLeft">
            <h1>Particuliers</h1>
            <div class="green_line"></div>
        </div>

        <ul>
            <li class="js-tab union">
                <div>
                    <svg class="icon">
                        <use xlink:href="#icon-union"></use>
                    </svg>
                    <p>Union</p>
                </div>
            </li>
            <li class="js-tab testament">
                <div>
                    <svg class="icon">
                        <use xlink:href="#icon-testament"></use>
                    </svg>
                    <p>Testament</p>
                </div>
            </li>
            <li class="js-tab mandat">
                <div>
                    <svg class="icon">
                        <use xlink:href="#icon-mandat"></use>
                    </svg>
                    <p>Mandat de protection</p>
                </div>
            </li>
            <li class="js-tab reglement">
                <div>
                    <svg class="icon">
                        <use xlink:href="#icon-reglement"></use>
                    </svg>
                    <p>Règlement de succession</p>
                </div>
            </li>
            <li class="js-tab immobilier">
                <div>
                    <svg class="icon">
                        <use xlink:href="#icon-immobilier"></use>
                    </svg>
                    <p>Immobilier</p>
                </div>
            </li>
        </ul>

        <div class="tab-container">
            <div class="union">
                <div class="grid-union">
                    <div>
                        <h3>Marriage</h3>
                        <p>La célébration d’un mariage est soumise au respect de nombreuses règles qui ont toutes pour objectif d’en assurer la légalité.</p>
                        <p>
                            Nous sommes présents pour vous accompagner dans cette étape importante de votre vie. Nous vous aiderons à connaître les conséquences
                            juridiques de cet engagement et répondrons à toutes vos questions pour nous assurer du bon déroulement du processus.
                        </p>
                    </div>

                    <div>
                        <h3>Contrat</h3>
                        <p>
                            Vous avez aussi la possibilité de vous doter d’un contrat de mariage. Nous pouvons vous aider à choisir le régime matrimonial
                            qui vous convient. Ce régime établit les règles de l’administration des biens des époux pendant le mariage et à sa fin, par exemple
                            en cas de divorce ou de décès.
                        </p>
                        <p>
                            Il est donc primordial de vous informer sur les différentes options afin de prévenir toute situation déplaisante, si elle se
                            présente.
                        </p>
                    </div>

                    <div>
                        <h3>Union de fait</h3>
                        <p>
                            Les conjoints de fait peuvent conclure une entente, un document notarié établissant les règles régissant leur union et ce qu’il
                            adviendra en cas de rupture. Pourquoi ne pas le faire maintenant alors que règne la bonne entente ?
                        </p>
                        <p>Consultez-nous afin d’avoir toutes les informations pertinentes pour ne rien laisser au hasard.</p>
                    </div>
                </div>
            </div>

            <div class="testament">
                <h3>Pourquoi faire un testament?</h3>
                <p>
                    Le testament est la meilleure façon de vous faire entendre malgré votre absence. Ce document vous permet d’exprimer dès maintenant vos
                    volontés concernant la distribution de vos biens après votre décès. Vous pouvez y désigner la ou les personnes à qui ces biens seront légués
                    et la part de chacun dans votre héritage. Également, vous pouvez choisir la personne qui sera en charge de procéder à la liquidation; le
                    liquidateur.
                </p>
                <p>
                    Rédiger un testament n’est pas une obligation, mais il est toujours préférable de le faire car dans le cas contraire c’est la loi qui
                    déterminera à la fois vos héritiers et la part à laquelle ils ont droit.
                </p>
            </div>

            <div class="mandat">
                <h3>Mandat de protection</h3>
                <p>
                    Qu’arrivera t-il si vous n’arrivez plus à gérer vos biens, si vous n’êtes plus en sécurité dans votre appartement ? Qui paiera vos factures
                    ? Qui prendra soin de vous ? Votre conjoint, vos enfants, le Curateur public du Québec ? Certes, l’inaptitude n’est pas une éventualité à
                    laquelle il est agréable de songer. Toutefois, y penser dès maintenant peut vous éviter bien des soucis, à vous et à vos proches, si jamais
                    elle survient.
                </p>
                <p>
                    Le mandat de protection vous permet de désigner, à l’avance, une ou plusieurs personnes pour veiller à votre bien-être et pour administrer
                    vos biens dans le cas où vous deveniez incapable de le faire vous-même. La personne à qui vous confiez la tâche de veiller à votre bien-être
                    et d’administrer vos biens dans votre mandat s’appelle un « mandataire ».
                </p>
            </div>

            <div class="reglement">
                <h3>Règlement de succession</h3>
                <p>
                    Pour des raisons d’efficacité et d’équité, le règlement d’une succession nécessite que chacune des étapes qui le compose soit exécutée
                    conformément à la loi. Ces étapes s’étendent depuis le jour du décès jusqu’au moment de la remise finale des biens aux héritiers.
                </p>
                <p>Par mesure de prudence, le liquidateur peut s’adjoindre nos services pour le conseiller dès le début du règlement de la succession.</p>
            </div>

            <div class="immobilier">
                <h3>Immobilier</h3>
                <p>
                    Lorsque vous faites l’acquisition ou la vente d’une propriété ou encore lors d’un refinancement, assurez-vous d’avoir l’assistance juridique
                    indispensable pour être protégé.
                </p>
                <p>
                    Notre équipe est là pour s’assurer que vos transactions immobilières se déroulent avec succès. Des analyses et vérifications seront
                    effectuées afin de prendre les mesures nécessaires pour corriger toute irrégularité qui pourrait se présenter dans le processus.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="entreprise" data-component="Tabs">
    <div class="wrapper">
        <div class="titre_section" data-scrolly="fromLeft">
            <h1>Entreprises</h1>
            <div class="green_line"></div>
        </div>

        <ul>
            <li class="js-tab creation">
                <div>
                    <svg class="icon">
                        <use xlink:href="#icon-creation"></use>
                    </svg>
                    <p>Création d'entreprise</p>
                </div>
            </li>
            <li class="js-tab organisation">
                <div>
                    <svg class="icon">
                        <use xlink:href="#icon-organisation"></use>
                    </svg>
                    <p>Organisation d'entreprise</p>
                </div>
            </li>
            <li class="js-tab entreprise-immobilier">
                <div>
                    <svg class="icon">
                        <use xlink:href="#icon-immobilier"></use>
                    </svg>
                    <p>Immobilier</p>
                </div>
            </li>
        </ul>

        <div class="tab-container">
            <div class="creation">
                <div class="grid-creation">
                    <div>
                        <h3>Création</h3>
                        <p>
                            Démarrer une entreprise peut être un processus stressant si on prend en compte les nombreuses étapes, questions, décisions et défis
                            qui y sont reliés.
                        </p>
                        <p>
                            Augmentez vos chances de réussite en affaires grâce à notre équipe de conseillers juridiques. Nous sommes présents pour vous
                            accompagner dans vos démarches.
                        </p>
                    </div>

                    <div>
                        <h3>Incorporation</h3>
                        <p>
                            Il est possible de créer une compagnie assujettie aux lois provinciales ou fédérales. Le choix d’une compagnie fédérale ou
                            provinciale détermine les principales règles qui s’appliquent à la compagnie et à son fonctionnement.
                        </p>
                        <p>Notre équipe vous épaule pour vous permettre de faire les bons choix quant au statut de votre entreprise.</p>
                    </div>
                </div>
            </div>

            <div class="organisation">
                <h3>L’importance de l’organisation d’une entreprise</h3>
                <p>
                    La constitution d’une entreprise est reliée à de nombreuses étapes. Une de ces étapes comprend la forme juridique de votre entreprise.
                    Faites-nous confiance pour vous aider à trouver la forme la plus adaptée à vos besoins.
                </p>
                <p>Voici les différentes formes que vous pourriez choisir :</p>
                <div class="organisation-ul">
                    <ul>
                        <li>Entreprise individuelle</li>
                        <li>Société par actions (compagnie)</li>
                        <li>Société en nom collectif (S.E.N.C.)</li>
                        <li>Société en commandite (S.E.C.)</li>
                        <li>Société en participation</li>
                    </ul>
                    <ul>
                        <li>Personne morale sans but lucratif</li>
                        <li>Syndicat de copropriété</li>
                        <li>Association ou groupement de personnes</li>
                        <li>Coopérative</li>
                        <li>Fiducie exploitant une entreprise à caractère commercial</li>
                    </ul>
                </div>
            </div>

            <div class="entreprise-immobilier">
                <h3>immobilier</h3>
                <p>
                    Lorsque vous faites l’acquisition ou la vente d’une propriété ou encore lors d’un refinancement, assurez-vous d’avoir l’assistance juridique
                    indispensable pour être protégé.
                </p>
                <p>
                    Notre équipe est là pour s’assurer que vos transactions immobilières se déroulent avec succès. Des analyses et vérifications seront
                    effectuées afin de prendre les mesures nécessaires pour corriger toute irrégularité qui pourrait se présenter dans le processus.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="liens">
    <div class="wrapper">
        <div class="titre_section" data-scrolly="fromLeft">
            <h1>Quelques liens utiles</h1>
            <div class="green_line"></div>
        </div>
        <p data-scrolly="fromBottom">
            Voici quelques liens que vous pouvez consulter afin de vous aider à mieux comprendre certaines situations. Bonne lecture !
        </p>

        <div class="accordeon" data-scrolly="fromBottom">
            <div class="grid-accordeon" data-component="Accordeon" data-not-Closing>
                <div class="accordion__container js-header">
                    <div class="accordion__header">
                        <p>Version française</p>
                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>
                    <div class="accordion__content">
                        <ul>
                            <li><a target="blank" href="assets/pdf/fr/Achat_propriete.pdf">Achat de propriété</a></li>
                            <li><a target="blank" href="assets/pdf/fr/Directives-medicales.pdf">Directives médicales anticipées par un notaire</a></li>
                            <li><a target="blank" href="assets/pdf/fr/don-organes.pdf">Don d'organes</a></li>
                            <li><a target="blank" href="assets/pdf/fr/notaire_votre_argent.pdf">Le notaire et votre argent</a></li>
                            <li><a target="blank" href="assets/pdf/fr/depliant_Liquidateur.pdf">Liquidateur d'une succession</a></li>
                            <li><a target="blank" href="assets/pdf/fr/Mandat_protection_notarie.pdf">Mandat de protection notarié</a></li>
                            <li><a target="blank" href="assets/pdf/fr/depliant_Mariage.pdf">Mariage</a></li>
                            <li><a target="blank" href="assets/pdf/fr/depliant_Nomination_tuteur_curateur.pdf">Nomination d'un tuteur ou d'un curateur</a></li>
                            <li><a target="blank" href="assets/pdf/fr/Mandat_protection.pdf">prise d'effet d'un mandat de protection</a></li>
                        </ul>
                    </div>
                </div>

                <div class="accordion__container js-header">
                    <div class="accordion__header">
                        <p>English version</p>
                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>
                    <div class="accordion__content">
                        <ul>
                            <li><a target="blank" href="assets/pdf/en/Buying_Property.pdf">Property Purchase</a></li>
                            <li><a target="blank" href="assets/pdf/en/Directives_medicales.pdf">Advance Medical Directives by a Notary</a></li>
                            <li><a target="blank" href="assets/pdf/en/Notarized_Protection_Mandate.pdf">Organ Donation</a></li>
                            <li><a target="blank" href="assets/pdf/en/Common_law.pdf">The Notary and Your Money</a></li>
                            <li><a target="blank" href="assets/pdf/en/Appointing_Tutor_or_Curator.pdf">Liquidator of an Estate</a></li>
                            <li><a target="blank" href="assets/pdf/en/Notarized_Protection_Mandate.pdf">Notarized Protection Mandate</a></li>
                            <li><a target="blank" href="assets/pdf/en/Marriage.pdf">Marriage</a></li>
                            <li><a target="blank" href="assets/pdf/en/Appointing_Tutor_or_Curator.pdf">Appointment of a Tutor or Curator</a></li>
                            <li><a target="blank" href="assets/pdf/en/Implementing_Protection_Mandate.pdf">Activation of a Protection Mandate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
